@use "./variables.scss" as *;
@use "./fonts.css" as *;

// put your custom CSS here!
// oh i'm gonna put it in alright
h1, h2, h3, h4, h5, h6 {
    &::selection {
        font-family: 'Carrois Gothic SC';
        color: var(--light);
    }
}
p, span, button, a, b, i, em, strong, thead, table, td, th {
    font-family: 'Gill Sans';
}
code {
    font-family: 'JetBrains Mono';
    background-color: color-mix(in oklab, currentColor 10%, transparent 100%);
    & > p, span, a, b, i, em, strong {
        font-family: 'JetBrains Mono';
    }
}

.page-header:has(~ article.no-article-title) h1.article-title {
    display: none;
} 

:root {
    --confirm: #6aa450;
    --deny: #c82c46;

    --red: #cc2743;
    --white: #efecbf;
    --black: #a562af;
    --pale: #40ccbe;

    --special: #ffd140;

    --sp: #39a6df;
    --sp-regen: var(--sp);
    --hp: #ff4d4d;
    --hp-regen: #1aff66;
    --def: var(--sp);
    --atk: #fb3a3d;
    --atk-spd: #ebd853;
    --spd: #b48f04;
    --wrk-spd: #60bc77;
    --wrk-scc: #9961c5;
    --grow-rate: #fc773c;

    --info: #ffffb0;

    --bullet: #1effad;
    --b-slow: #f8db2f;
    --b-execute: var(--dead);
    --rabbits: #fc3e1a;

    --risk-A: var(--dead);
    --risk-W: #7a2ff2;
    --risk-H: #fff900;
    --risk-T: #1aa1ff;
    --risk-Z: #22f900;
    --risk-U: #5a5a5a;

    --o-amber: var(--res-W);
    --o-crimson: #dc143c;
    --o-green: #008000;
    --o-indigo: #1e90ff;
    --o-white: var(--reverence);
    --o-violet: #800080;

    --pos: #019945;
    --neu: #f39801;
    --neg: #df5860;

    --pe: var(--bullet);
    --ne: #fc3a39;

    --relax: #1fffae;
    --calm: var(--relax); 
    --nervous: #ffffa1;
    --terrify: #ffbc00;
    --hopeless: #ff5100;
    --overwhelm: var(--dead);
    --reverence: #ffffff;
    --dead: #FF0000;
    --panic: #2d75ff;
    --working: ##EBD853
    --en-route: var(--working);
    --uncontrol: #ff69b4;

    --suit: #4682b4;
    --weap: #b22222;
    --gift: #b28039;
    --damage: #C26667;
    --res: #BD986F;

    --res-A: #4169e1;
    --res-I: #14b19c;
    --res-R: #00ff00;
    --res-E: #90ee90;
    --res-N: var(--reverence);
    --res-W: #ffa500;
    --res-V: var(--dead);

    --warn-1: var(--terrify);
    --warn-2: var(--hopeless);
    --warn-3: var(--overwhelm);
    --meltdown: #ED7D31;

    --team-control: #D8D556;
    --team-info: #81339C;
    --team-train: #DA7F2F;
    --team-safety: #69A448;
    --team-central: #FFC50B;
    --team-disc: var(--dead);
    --team-welfare: #456FFF;
    --team-extr: #ecd808;
    --team-record: #606060;
    --team-arch: var(--reverence);

    --l-asiyah: #ffff00;
    --l-briah: var(--res-R);
    --l-atziluth: #c0c0c0;
}


/* rules for stuff w/o icons */
.no-icon, .stat, .work, .risk, .icon, .info {
    font-weight: bold;
    color: var(--color);
    --color: unset;
    --shadow: 1px;
    --invert: calc(var(--shadow) * -1);
    --shadow-2: calc(var(--shadow) / 2);
    --invert-2: calc(var(--shadow-2) * -1);
    --border: #1a1a1a;
    --bordOne: /* Text shadow */
        var(--shadow) var(--shadow) 0px var(--border),
        var(--invert) var(--shadow) 0px var(--border),
        var(--shadow) var(--invert) 0px var(--border),
        var(--invert) var(--invert) 0px var(--border);
    --bordTwo: /* Border */
        drop-shadow(var(--shadow-2) 0px 0px var(--border))
        drop-shadow(0px var(--shadow-2) 0px var(--border))
        drop-shadow(var(--invert-2) 0px 0px var(--border))
        drop-shadow(0px var(--invert-2) 0px var(--border));
    filter: var(--bordTwo);
    text-shadow: var(--bordOne);
    --gradient: calc(0.1em + var(--size-w));
    --begin: calc(var(--gradient) + 0.5em);
    --end: calc(100% - 0.2em);
}

/* set up some rules for stuff that'll have icons */
.stat, .work, .risk, .icon, .info, h1[class^="team"] {
    --size-h: 1.55em;
    --size-w: 1.55em;
    &::before {
        content: '';
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 0.2em;
        margin-left: 0.1em;    
        min-height: var(--size-h);
        min-width: var(--size-w);
        background-position-y: center;
        background-position-x: center;
        background-size: contain;
        background-image: var(--icon-local, var(--icon));
        background-repeat: no-repeat;
        z-index: 1;
        filter: none;
    }
}
h1[class^="team"] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    &::before {
        margin: calc(var(--size-h) / 5);
        margin-left: 0;
    }
}
    /*
        Checkboxes
    */
li:has(> input[type=checkbox][checked]) {
    text-decoration: underline;
    color: var(--secondary);
    & > input {
        background-color: transparent;
        border-color: var(--secondary);
        &::after {
            border-color: var(--secondary);
        }
    }
}
li:has(> input[type=checkbox]:not([checked])) {
    color: var(--ne);
}

    /*
        Body
    */
h1, h2, h3 {
    color: var(--light);
    background-color: var(--color, var(--darkgray));
    --mask: linear-gradient(45deg, black 76%, transparent 76% 78%, black 78% 80%, transparent 80% 82%, black 82% 84%, transparent 84% 86%, black 86% 88%, transparent 88%);
    -webkit-mask-image: var(--mask);
    mask-image: var(--mask);
    font-size: 150%;
    
    --padding: 0.5em;
    padding-left: var(--padding);
    padding-right: calc(var(--padding)*8);
    & > a {
        color: var(--light);
        font-family: 'Carrois Gothic SC';
    }
    &.has-subtitle {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}
h4, h5, h6, b, i, em, strong, thead, th, tbody, table, button, span, p {
    color: var(--color);
}
code, a {
    color: var(--pe);
}
a:hover {
    color: var(--bullet);
}

    /*
        Callouts
    */
.callout {
    --size-em: 2em;
    --clip: polygon(100% 0, 100% calc(100% - var(--size-em)), calc(100% - var(--size-em)) 100%, 0 100%, 0 0);
    &[data-callout-metadata="span"] {
        & > div.callout-title {
            display: none;
            & ~ .callout-content {
                padding-top: 1rem;
            }
        }
    }
    &[data-callout-metadata="subtitle"] {
        margin-top: 0px;
        position: relative;
        clip-path: var(--clip);
        background-color: var(--color, var(--light)) /*color-mix(in oklab, var(--light) 100%, transparent 80%)*/;
        padding: 0.1rem;
        padding-top: 0.15rem;
        & > div.callout-content {
            --color: var(--darkgray);
            & > .content {
                background-color: var(--light);
                clip-path: var(--clip);
                margin-bottom: 0px;
                padding-bottom: 0rem;
                --color: var(--darkgray);
            }
        }
        & div.callout-title {
            display: none;
            & ~ callout-content {
                padding-top: 0rem;
            }      
        }
    }
    &:not([data-callout-metadata="subtitle"],[data-callout-metadata="span"]) {
        div.callout-title {
            padding-bottom: 0px;
            div.callout-icon {
                display: none;
            }
            div.callout-title-inner > p {
                padding-left: calc(var(--size-em) * 3);
                padding-right: calc(var(--size-em) * 3);
                font-family: 'Carrois Gothic SC';
                color: var(--light);
                background-color: var(--color, var(--light));
                mask-image: linear-gradient(135deg, transparent 15%, black 15%), linear-gradient(45deg, black 85%, transparent 85%);
                mask-composite: intersect;
            }
        }
        .callout-content {
            padding-top: calc(var(--size-em) / 4);
            padding-left: calc(var(--size-em) / 2);
            padding-right: calc(var(--size-em) / 2);
            border: 2px solid var(--color, var(--light));
            color: var(--darkgray);
            & > p {
                color: var(--darkgray);
                &:not(:only-child) {
                    margin-bottom: 0;
                }
            }
        }
    }
    &[data-callout-metadata="0.5"] {
        opacity: 0.5;
        & code {
            color: var(--ne);
        }
    }
    border-radius: 0px;
    border: 0px solid transparent;
}


    /*
        Colors & Icons
    */

    /* Shared colors */
.fort, .inst, .red, .shieldred {
    --color: var(--red);
}
.prud, .insi, .white, .shieldwhite {
    --color: var(--white);
}
.temp, .atta, .black, .shieldblack {
    --color: var(--black);
}
.just, .repr, .pale, .shieldpale {
    --color: var(--pale);
}
.special {
    /* Special work types */
    --color: var(--special);
}

.aleph, .dead, .overwhelm, .vulnerable, .team-disc, .execute {
    --color: var(--dead);
}
.resistant, .briah {
    --color: var(--res-R);
}
.working, .en-route {
    --color: var(--working);
}
.relaxed, .calm {
    --color: var(--relax);
    --icon-local: url('../assets/panic0.png');
    --icon: url('/content/assets/panic0.png');  
}
.ordealAmber, .weak {
    --color: var(--res-W);
}
.team-arch, .reverence, .normal, .ordealWhite .denyW, .plus, .plusI, .minus, .rank1w, .rank2w, .rank3w, .rank4w, .rank5w, .rank6w, .calmI, .terrifyI, .hopelessI, .overwhelmI {
    --color: var(--reverence);
}
.pe, .bullets {
    --color: var(--bullet);
}
.ordealCrimson {
    --color: var(--o-crimson);
}
.ordealIndigo {
    --color: var(--o-indigo);
}
.ordealGreen {
    --color: var(--o-green);
}

    /*
        Stats
    */
.sp, .def, .spregen {
    --color: var(--sp);
}
.infoI, .suitI, .weapI, .giftI, .qliphoth, .rank1, .rank2, .rank3, .rank4, .rank5, .rank6 {
    --color: var(--info);
}
.hp {
    --color: var(--hp);
    --icon-local: url('../assets/statHP.png');
    --icon: url('/content/assets/statHP.png');  
}
.hpregen {
    --color: var(--hp-regen);
    --icon-local: url('../assets/statHPRegen.png');
    --icon: url('statHPRegen.png');  
}

.atk {
    --color: var(--atk);
    --icon-local: url('../assets/statAtkDmg.png');
    --icon: url('/content/assets/statAtkDmg.png');  
}
.def {
    --icon-local: url('../assets/statSuitDef.png');
    --icon: url('/content/assets/statSuitDef.png');  
}
.defw {
    --icon-local: url('../assets/iconDef.png');
    --icon: url('/content/assets/iconDef.png');  
}
.atkspd {
    --color: var(--atk-spd);
    --icon-local: url('../assets/statAtkSpd.png');
    --icon: url('/content/assets/statAtkSpd.png');  
}
.spd {
    --color: var(--spd);
    --icon-local: url('../assets/statMovSpd.png');
    --icon: url('/content/assets/statMovSpd.png');  
}
.wrkspd {
    --color: var(--wrk-spd);
    --icon-local: url('../assets/statwrkspd.png');
    --icon: url('/content/assets/statwrkspd.png');  
}
.wrkscc {
    --color: var(--wrk-scc);
    --icon-local: url('../assets/statwrkscc.png');
    --icon: url('/content/assets/statwrkscc.png');  
}
.growrate {
    --color: var(--grow-rate);
    --icon-local: url('../assets/statgrowrate.png');
    --icon: url('/content/assets/statgrowrate.png');  
}

.nervous {
    --color: var(--nervous);
    --icon-local: url('../assets/panic2.png');
    --icon: url('/content/assets/panic2.png');  
}
.terrify {
    --icon-local: url('../assets/panic3.png');
    --icon: url('/content/assets/panic3.png');  
}
.terrify {
    --icon-local: url('../assets/panic3w.png');
    --icon: url('/content/assets/panic3w.png');  
}
.hopeless {
    --icon-local: url('../assets/panic4.png');
    --icon: url('/content/assets/panic4.png');  

}
.hopeless {
    --icon-local: url('../assets/panic4w.png');
    --icon: url('/content/assets/panic4w.png');  
}
.overwhelm {
    --icon-local: url('../assets/iconPanic2.png');
    --icon: url('/content/assets/panic5.png');  
}
.overwhelmI {
    --icon-local: url('../assets/panic5w.png');
    --icon: url('/content/assets/panic5w.png');  
}
.reverence {
    --icon-local: url('../assets/panic6.png');
    --icon: url('/content/assets/panic6.png');  
}

.panic {
    --color: var(--panic);
    --icon-local: url('../assets/iconPanic2.png');
    --icon: url('/content/assets/iconPanic2.png');  
}
.panicI {
    --icon-local: url('../assets/iconPanic.png');
    --icon: url('/content/assets/iconPanic.png');  
}
.uncontrol {
    --color: var(--uncontrol);
    --icon-local: url('../assets/iconUncontrol.png');
    --icon: url('/content/assets/iconUncontrol.png');  
}
.suit {
    --color: var(--suit);
    --icon-local: url('../assets/iconSuit.png');
    --icon: url('/content/assets/iconSuit.png');  
}
.weap {
    --color: var(--weap);
    --icon-local: url('../assets/iconWeap.png');
    --icon: url('/content/assets/iconWeap.png');  
}
.gift {
    --color: var(--gift);
    --icon-local: url('../assets/iconGift.png');
    --icon: url('/content/assets/iconGift.png');  
}
.suitI   {
    --color: var(--suit);
    --icon-local: url('../assets/equipSuit.png');
    --icon: url('/content/assets/equipSuit.png');  
}
.weapI {
    --color: var(--weap);
    --icon-local: url('../assets/equipWeap.png');
    --icon: url('/content/assets/equipWeap.png');  
}
.giftI {
    --color: var(--gift);
    --icon-local: url('../assets/equipGift.png');
    --icon: url('/content/assets/equipGift.png');  
}
.damage {
    --color: var(--damage);
}
.resistance {
    --color: var(--res);
}

.absorb {
    --color: var(--res-A);
}
.immune {
    --color: var(--res-I);
}
.endured {
    --color: var(--res-E);
}

    /*
        Facility stuff
    */
.confirm {
    --color: var(--confirm);
    --icon-local: url('../assets/iconCheck.png');
    --icon: url('/content/assets/iconCheck.png');
}
.deny {
    --color: var(--deny);
    --icon-local: url('../assets/iconDeny.png');
    --icon: url('/content/assets/iconDeny.png');
}
.denyW {
    --icon-local: url('../assets/iconDeny2.png');
    --icon: url('/content/assets/iconDeny2.png');
}
.plus {
    --icon-local: url('../assets/iconPlus.png');
    --icon: url('/content/assets/iconPlus.png');
}
.plusI {
    --icon-local: url('../assets/iconPlus2.png');
    --icon: url('/content/assets/iconPlus2.png');
}
.minus {
    --icon-local: url('../assets/iconMinus.png');
    --icon: url('/content/assets/iconMinus.png');
}
.calmI {
    --icon-local: url('../assets/panic0w.png');
    --icon: url('/content/assets/panic0w.png');
}
.terrifyI {
    --icon-local: url('../assets/panic3w.png');
    --icon: url('/content/assets/panic3w.png');
}
.hopelessI {
    --icon-local: url('../assets/panic4w.png');
    --icon: url('/content/assets/panic4w.png');
}
.overwhelmI {
    --icon-local: url('../assets/panic5w.png');
    --icon: url('/content/assets/panic5w.png');
}
.rank1 {
    --icon-local: url('../assets/rank1.png');
    --icon: url('/content/assets/rank1.png');
}
.rank2 {
    --icon-local: url('../assets/rank2.png');
    --icon: url('/content/assets/rank2.png');
}
.rank3 {
    --icon-local: url('../assets/rank3.png');
    --icon: url('/content/assets/rank3.png');
}
.rank4 {
    --icon-local: url('../assets/rank4.png');
    --icon: url('/content/assets/rank4.png');
}
.rank5 {
    --icon-local: url('../assets/rank5.png');
    --icon: url('/content/assets/rank5.png');
}
.rank6 {
    --icon-local: url('../assets/rank6.png');
    --icon: url('/content/assets/rank6.png');
}
.rank1w {
    --icon-local: url('../assets/rank1w.png');
    --icon: url('/content/assets/rank1w.png');
}
.rank2w {
    --icon-local: url('../assets/rank2w.png');
    --icon: url('/content/assets/rank2w.png');
}
.rank3w {
    --icon-local: url('../assets/rank3w.png');
    --icon: url('/content/assets/rank3w.png');
}
.rank4w {
    --icon-local: url('../assets/rank4w.png');
    --icon: url('/content/assets/rank4w.png');
}
.rank5w {
    --icon-local: url('../assets/rank5w.png');
    --icon: url('/content/assets/rank5w.png');
}
.rank6w {
    --icon-local: url('../assets/rank6w.png');
    --icon: url('/content/assets/rank6w.png');
}

.qliphoth {
    --icon-local: url('../assets/iconQliphoth.png');
    --icon: url('/content/assets/iconQliphoth.png');
}

.warn1, .terrify {
    --color: var(--terrify);
}
.warn2, .hopeless {
    --color: var(--hopeless);
}
.warn3, .overwhelm {
    --color: var(--overwhelm);
}
.warn1 {
    --icon-local: url('../assets/warn1.png');
    --icon: url('/content/assets/warn1.png');  
}
.warn2 {
    --icon-local: url('../assets/warn2.png');
    --icon: url('/content/assets/warn2.png');  
}
.warn3 {
    --icon-local: url('../assets/warn3.png');
    --icon: url('/content/assets/warn3.png');  
}

.bullets {
    --icon-local: url('../assets/iconBullet.png');
    --icon: url('/content/assets/iconBullet.png');  
}
.bulletsI {
    --icon-local: url('../assets/iconBulletH.png');
    --icon: url('/content/assets/iconBulletH.png');  
}
.bullet-slow {
    --color: var(--b-slow);
    --icon-local: url('../assets/bulletSlow.png');
    --icon: url('/content/assets/bulletSlow.png');  
}
.execute {
    --icon-local: url('../assets/bulletExec.png');
    --icon: url('/content/assets/bulletExec.png');  
}
.rabbits {
    --color: var(--rabbits);
    --icon-local: url('../assets/iconRabbits.png');
    --icon: url('/content/assets/iconRabbits.png');  
}

.dawn {
    --icon-local: url('../assets/iconOrdDawn.png');
    --icon: url('/content/assets/iconOrdDawn.png');   
}
.noon {
    --icon-local: url('../assets/iconOrdNoon.png');
    --icon: url('/content/assets/iconOrdNoon.png');   
}
.dusk {
    --icon-local: url('../assets/iconOrdDusk.png');
    --icon: url('/content/assets/iconOrdDusk.png');   
}
.midnight {
    --icon-local: url('../assets/iconOrdMidnight.png');
    --icon: url('/content/assets/iconOrdMidnight.png');   
}
.dawnI {
    --icon-local: url('../assets/iconDawn.png');
    --icon: url('/content/assets/iconDawn.png');   
}
.noonI {
    --icon-local: url('../assets/iconNoon.png');
    --icon: url('/content/assets/iconNoon.png');   
}
.duskI {
    --icon-local: url('../assets/iconDusk.png');
    --icon: url('/content/assets/iconDusk.png');   
}
.midnightI {
    --icon-local: url('../assets/iconMidnight.png');
    --icon: url('/content/assets/iconMidnight.png');   
}

.pos {
    --color: var(--pos);
    --icon-local: url('../assets/abnoGood.png');
    --icon: url('/content/assets/abnoGood.png');   
}
.neu {
    --color: var(--neu);
    --icon-local: url('../assets/abnoNeu.png');
    --icon: url('/content/assets/abnoNeu.png');   
}
.neg {
    --color: var(--neg);
    --icon-local: url('../assets/abnoNeg.png');
    --icon: url('/content/assets/abnoNeg.png');   
}
.ne {
    --color: var(--ne);
    --icon-local: url('../assets/iconEN.png');
    --icon: url('/content/assets/iconEN.png');   
}
.pe {
    --icon-local: url('../assets/iconEP.png');
    --icon: url('/content/assets/iconEP.png');   
}

.aleph {
    --icon-local: url('../assets/riskALEPH.png');
    --icon: url('/content/assets/riskALEPH.png');   
}
.waw {
    --color: var(--risk-W);
    --icon-local: url('../assets/riskWAW.png');
    --icon: url('/content/assets/riskWAW.png');   
}
.he {
    --color: var(--risk-H);
    --icon-local: url('../assets/riskHE.png');
    --icon: url('/content/assets/riskHE.png');   
}
.teth {
    --color: var(--risk-T);
    --icon-local: url('../assets/riskTETH.png');
    --icon: url('/content/assets/riskTETH.png');   
}
.zayin {
    --color: var(--risk-Z);
    --icon-local: url('../assets/riskZAYIN.png');
    --icon: url('/content/assets/riskZAYIN.png');   
}
.unknown {
    --color: var(--risk-U);
    --icon-local: url('../assets/riskUNKNOWN.png');
    --icon: url('/content/assets/riskUNKNOWN.png');   
}
    /*
        Sephirot
    */

.team-control, [data-callout="control"] {
    --color: var(--team-control);
    --icon-local: url('../assets/teamCont.png');
    --icon: url('/content/assets/teamCont.png');   
}
.team-info, [data-callout="info"] {
    --color: var(--team-info);
    --icon-local: url('../assets/teamInfo.png');
    --icon: url('/content/assets/teamInfo.png');   
}
.team-train, [data-callout="train"] {
    --color: var(--team-train);
    --icon-local: url('../assets/teamTrain.png');
    --icon: url('/content/assets/teamTrain.png');   
}
.team-safety, [data-callout="safety"] {
    --color: var(--team-safety);
    --icon-local: url('../assets/teamSafe.png');
    --icon: url('/content/assets/teamSafe.png');   
}
.team-cmd, [data-callout="cmd"] {
    --color: var(--team-central);
    --icon-local: url('../assets/teamCmd.png');
    --icon: url('/content/assets/teamCmd.png');   
}
.team-welfare, [data-callout="welfare"] {
    --color: var(--team-welfare);
    --icon-local: url('../assets/teamWelf.png');
    --icon: url('/content/assets/teamWelf.png');   
}
.team-disc, [data-callout="disc"] {
    --icon-local: url('../assets/teamDisc.png');
    --icon: url('/content/assets/teamDisc.png');   
}
.team-extract, [data-callout="extract"] {
    --color: var(--team-extr);
    --icon-local: url('../assets/teamExtract.png');
    --icon: url('/content/assets/teamExtract.png');   
}
.team-record, [data-callout="record"] {
    --color: var(--team-record);
    --icon-local: url('../assets/teamRecord.png');
    --icon: url('/content/assets/teamRecord.png');   
}
.team-arch, [data-callout="arch"] {
    --icon-local: url('../assets/teamArch.png');
    --icon: url('/content/assets/teamArch.png');   
}

.asiyah {
    --color: var(--l-asiyah);
}
.atziluth {
    --color: var(--l-atziluth);
}

    /*
       Work Icons
    */
.inst {
    --icon-local: url('../assets/workINST.png');
    --icon: url('/content/assets/workINST.png');    
}
.insi {
    --icon-local: url('../assets/workINSI.png');
    --icon: url('/content/assets/workINSI.png');
        
}
.atta {
    --icon-local: url('../assets/workATTA.png');
    --icon: url('/content/assets/workATTA.png');
}
.repr {
    --icon-local: url('../assets/workREPR.png');
    --icon: url('/content/assets/workREPR.png');
}
.sacr {
    --icon-local: url('../assets/workSACR.png');
    --icon: url('/content/assets/workSACR.png');  
}
.perf {
    --icon-local: url('../assets/workPERF.png');
    --icon: url('/content/assets/workPERF.png');  
}
.conf {
    --icon-local: url('../assets/workCONF.png');
    --icon: url('/content/assets/workCONF.png');  
}
.req {
    --icon-local: url('../assets/workREQ.png');
    --icon: url('/content/assets/workREQ.png');  
}
.prot {
    --icon-local: url('../assets/workPROT.png');
    --icon: url('/content/assets/workPROT.png');  
}
.neu {
    --icon-local: url('../assets/abnoNeu.png');
    --icon: url('/content/assets/abnoNeu.png');  
}
.pos {
    --icon-local: url('../assets/abnoGood.png');
    --icon: url('/content/assets/abnoGood.png');  
}
.neg {
    --icon-local: url('../assets/abnoBad.png');
    --icon: url('/content/assets/abnoBad.png');  
}
.neuW {
    --icon-local: url('../assets/abnoGood.png');
    --icon: url('/content/assets/abnoNeuW.png');  
}
.posW {
    --icon-local: url('../assets/abnoGood.png');
    --icon: url('/content/assets/abnoGoodW.png');  
}
.negW {
    --icon-local: url('../assets/abnoBad.png');
    --icon: url('/content/assets/abnoBadW.png');  
}
.meltdown {
    --color: var(--meltdown);
    --icon-local: url('../assets/iconMeltdown.png');
    --icon: url('/content/assets/iconMeltdown.png');  
}
.abno {
    --icon-local: url('../assets/iconAbno.png');
    --icon: url('/content/assets/iconAbno.png');  
}
    /*
        Stat icons
    */
.fort {
    --icon-local: url('../assets/statFORT.png');
    --icon: url('/content/assets/statFORT.png');    
}
.prud {
    --icon-local: url('../assets/statPRUD.png');
    --icon: url('/content/assets/statPRUD.png');
        
}
.temp {
    --icon-local: url('../assets/statTEMP.png');
    --icon: url('/content/assets/statTEMP.png');
}
.just {
    --icon-local: url('../assets/statJUST.png');
    --icon: url('/content/assets/statJUST.png');
}

    /*
        Other icons
    */
.shieldred {
    --icon-local: url('../assets/shieldR.png');
    --icon: url('/content/assets/shieldR.png');    
}
.shieldwhite {
    --icon-local: url('../assets/shieldW.png');
    --icon: url('/content/assets/shieldW.png');    
}
.shieldblack {
    --icon-local: url('../assets/shieldB.png');
    --icon: url('/content/assets/shieldB.png');    
}
.shieldpale {
    --icon-local: url('../assets/shieldP.png');
    --icon: url('/content/assets/shieldP.png');    
}
    /*
        Damages
    */
.red {
    --icon-local: url('../assets/dmgR.png');
    --icon: url('/content/assets/dmgR.png');    
}
.white {
    --icon-local: url('../assets/dmgW.png');
    --icon: url('/content/assets/dmgW.png');    
}
.black {
    --icon-local: url('../assets/dmgB.png');
    --icon: url('/content/assets/dmgB.png');    
}
.pale {
    --icon-local: url('../assets/dmgP.png');
    --icon: url('/content/assets/dmgP.png');    
}
    /*
        Special gradients
    */
.rb, .rbp, .rp, .rw, .rwb, .rwp, .wb, .wp, .wbp, .rwbp, .regen {
    --color: transparent;
    background-clip: text;
}
    /*
        Thicker shadow, no text-shadow
    */
.rb, .rbp, .rp, .rw, .rwb, .rwp, .wb, .wp, .wbp, .rwbp,
.regen, .execute, .hp, .hpregen, .sp, .spregen, .def, .atkspd, 
.shieldblack, .shieldpale, .shieldwhite, .shieldred, 
.suit, .weap, .gift, .suitI, .weapI, .giftI,
.rank1, .rank2, .rank3, .rank4, .rank5, .rank6, .rank1w, .rank2w, .rank3w, .rank4w, .rank5w, .rank6w,
.logo, .minus, .plus, .plusI, .deny, .denyW, .abno, .defw,
.pos, .posW, .neu, .neuW, .neg, .negW,
.dawn, .noon, .dusk, .midnight, .dawnI, .noonI, .duskI, .midnightI,
.insi, .inst, .atta, .repr, .req, .conf, .sacr, .perf, .prot  {
    text-shadow: unset;
    --shadow: 0.6px;
    --bordTwo: /* Border */
        drop-shadow(var(--shadow) var(--shadow) 0px var(--border))
        drop-shadow(var(--invert) var(--shadow) 0px var(--border))
        drop-shadow(var(--shadow) var(--invert) 0px var(--border))
        drop-shadow(var(--invert) var(--invert) 0px var(--border))
        drop-shadow(var(--shadow-2) 0px 0px var(--border))
        drop-shadow(0px var(--shadow-2) 0px var(--border))
        drop-shadow(var(--invert-2) 0px 0px var(--border))
        drop-shadow(0px var(--invert-2) 0px var(--border));
}

    /*
        Special (wider) icons
    */
.regen {
    --size-w: 50px;
}

.regen {
    background-image: linear-gradient(to right, transparent var(--gradient), var(--hp-regen) var(--gradient) var(--begin), var(--sp-regen) var(--end));
    --icon-local: url('../assets/SPHPregen.png');
    --icon: url('/content/assets/SPHPregen.png');  
}

.rb {
    background-image: linear-gradient(to right, transparent var(--gradient), var(--red) var(--gradient) var(--begin), var(--black) var(--end));
    --icon-local: url('../assets/dmgRB.png');
    --icon: url('/content/assets/dmgRB.png');  
}
.rbp {
    background-image: linear-gradient(to right, transparent var(--gradient), var(--red) var(--gradient) var(--begin), var(--black), var(--pale) var(--end));
    --icon-local: url('../assets/dmgRBP.png');
    --icon: url('/content/assets/dmgRBP.png');  
}
.rp {
    background-image: linear-gradient(to right, transparent var(--gradient), var(--red) var(--gradient) var(--begin), var(--pale) var(--end));
    --icon-local: url('../assets/dmgRP.png');
    --icon: url('/content/assets/dmgRP.png');  
}
.rw {
    background-image: linear-gradient(to right, transparent var(--gradient), var(--red) var(--gradient) var(--begin), var(--white) var(--end));
    --icon-local: url('../assets/dmgRW.png');
    --icon: url('/content/assets/dmgRW.png');  
}
.rwb {
    background-image: linear-gradient(to right, transparent var(--gradient), var(--red) var(--gradient) var(--begin), var(--white), var(--black) var(--end));
    --icon-local: url('../assets/dmgRWB.png');
    --icon: url('/content/assets/dmgRWB.png');  
}
.rwp {
    background-image: linear-gradient(to right, transparent var(--gradient), var(--red) var(--gradient) var(--begin), var(--white), var(--pale) var(--end));
    --icon-local: url('../assets/dmgRWP.png');
    --icon: url('/content/assets/dmgRWP.png');  
}
.wb {
    background-image: linear-gradient(to right, transparent var(--gradient), var(--white) var(--gradient) var(--begin), var(--black) var(--end));
    --icon-local: url('../assets/dmgWB.png');
    --icon: url('/content/assets/dmgWB.png');  
}
.wbp {
    background-image: linear-gradient(to right, transparent var(--gradient), var(--white) var(--gradient) var(--begin), var(--black), var(--pale) var(--end));
    --icon-local: url('../assets/dmgWBP.png');
    --icon: url('/content/assets/dmgWBP.png');  
}
.wp {
    background-image: linear-gradient(to right, transparent var(--gradient), var(--white) var(--gradient) var(--begin), var(--pale) var(--end));
    --icon-local: url('../assets/dmgWP.png');
    --icon: url('/content/assets/dmgWP.png');  
}
.rwbp {
    background-image: linear-gradient(to right, transparent var(--gradient), var(--red) var(--gradient) var(--begin), var(--white), var(--black), var(--pale) var(--end));
    --icon-local: url('../assets/dmgRWBP.png');
    --icon: url('/content/assets/dmgRWBP.png');
}